bnody {
  margin: 0;
}

h1 {
  font-size: 5em;
  color: #ce6767;
}

h2 {
  font-size: 3em;
  color: cadetblue;
}

.header {
  height: 100px;
  background-color: navajowhite;
  display: flex;
  justify-content: center;
  align-items: center;
}
